.image-container {
    background-image: url("https://www.irongym.com.au/assets/images/slider-images/slide3.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height: 15em;

}

h2 {
    position: fixed;
    top: 10%;
    left: 5px;
    width: 100%;
}

h2 span{
color: white;
font: bold 58px Helvetica, Sans-Serif;
font-size: 200%;
letter-spacing: -1px;
background: rgb(0, 0, 0); /* fallback color */
background: rgba(0, 0, 0, 0.7);
padding: 10px;
}

.ikony {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 60px;
}

.opis-ikon {
    color: white;
    text-align: center;
}
#zajawka p {
    color: white;
}