.image-container {
    background-image: url("https://www.irongym.com.au/assets/images/slider-images/slide3.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height: 15em;

}

h2 {
    position: fixed;
    top: 10%;
    left: 5px;
    width: 100%;
}

h2 span{
color: white;
font: bold 58px Helvetica, Sans-Serif;
font-size: 200%;
letter-spacing: -1px;
background: rgb(0, 0, 0); /* fallback color */
background: rgba(0, 0, 0, 0.7);
padding: 10px;
}

.ikony {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 60px;
}

.opis-ikon {
    color: white;
    text-align: center;
}
#zajawka p {
    color: white;
}
.ikony img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}