.image-container {
    background-image: url("../pexels-photo-260426.jpeg");
    background-size: cover;
    background-repeat:no-repeat;
    height: 300px;
    background-position: 50%;
}

h2 {
    position: fixed;
    top: 100px;
    left: 5px;
    width: 200%;
}

h2 span{
color: white;
font: bold 58px Helvetica, Sans-Serif;
font-size: 200%;
letter-spacing: -1px;
background: rgb(0, 0, 0); /* fallback color */
background: rgba(0, 0, 0, 0.7);
padding: 10px;
}

.ikony {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    /*height: 100%;*/
    /*width: 64px;*/
}
/*.ikony img{*/
    /*height: 64px;*/

}

.opis-ikon {
    position: absolute;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;

}