.navbar-default {
    background-color: #0b1634;
    border:0;
    padding:10px 0;
}
.navbar {
    border-radius:0;
    margin-bottom:0;
}
.navbar-default .navbar-brand {
    color:white;
    font-weight:bold;
}
.navbar-default .navbar-nav>li>a {
    color: rgb(255, 255, 255);
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #07a7ff;
}
.nav>li>a {
    padding:15px 10px;
}
header {
    padding:0;
}



.zajawka .logosy {
    padding-top: 3%;
    padding-bottom: 3%;
}

.logosy img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.zajawka {
    background: #0b1634;
    width: 100%;
    color: white;
}

.members {
    background: rgb(11, 22, 52);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 0;
    color: white;
}


#logo {
    width: 13%;
    min-width: 120px;
    max-width: 155px;
    border-radius: 50%;
    float: left;
    position: absolute;
    top: 0;
    left: 0px;
}

img.glowa {
    padding-top: 70px;
}

footer{
    background: black
;
}
