img {

    top: 25px;
    left: 25px;
}
.imgage {
    z-index: 1;
}
.sztanga {
    position: absolute;
    top: 10px;
    height: 200px;
    z-index: 2;
    overflow: hidden;
}
.sztanga img {
    margin-top: 60px;
}