body {
    padding: 0;
    margin: 0;
    background-color: #b4c4ed;

}

#nav {
    background-color: #222;
    position: fixed;
    width: 100%;
    top: 0;
}

#nav-menu {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

#nav ul {
    list-style-type: none;
    padding: 30px;
    margin: 0;
}

#nav ul li {
    display: inline-block;
    padding: 0 10px;

}

#nav ul li a {
    color: white;
    text-decoration: none;
}

.flexContainer {
    border-style: solid;
    border-color: red;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    max-height: 260px;
    width: calc(100%-6px);
}

.flexItem {
    border: darkgray solid;
    background: silver;
    padding: 20px 20px;

}

.flexItem img {
    max-height: 130px;
    max-width: 130px;
    display: flex;

    }

.inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.inside p:first-child {
    font-size: 120%;
}

.inside p:last-child {
    font-family: "Droid Sans Mono Slashed";
    font-style: italic;
}